body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
}


/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul {
    /* Unordered Lists come with margin & padding */
    margin: 0;
    padding: 0;
}

.button1 {
    height: 38px;
    background: #967bb6;
    width: 100px;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

/*                           Header Area                             */
header {
    background: #b4b4b4;
    color: aliceblue;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #747474 2px solid;
}

/* Nav */
header a{
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px ;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 11px;
}

header .highlight {
    color: #967bb6;
}

header li .current {
    color: #967bb6;
}

header a:hover{
    color: #967bb6;
    font-weight: bold;
}

/*                          Showcase Area                             */

#showcase {
    min-height: 400px;
    background:url('https://media.giphy.com/media/c3OZsDoaz7kD6/giphy.gif') no-repeat 50% -10px;
    text-align: center;
    font-weight: bold;
    color: #967bb6;

}

#showcase h1 {
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 10px;
    /* -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #e5e5e5; */
}

#showcase p {
    font-size: 22px;
}

.border {
}


/*                           Newsletter Area                             */


#newsletter {
    background: #b4b4b4;
    padding: 15px;
    color: white;

}

#newsletter h1 {
    float: left;
    margin-top: 10px;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type='email']{
    padding: 5px;
    height: 25px;
    width: 250px;
}


/*                          BoxCards Area                             */

#boxcards {
    margin-top: 20px;
}

#boxcards img {
    width: 100px;
    height: auto;
}

#boxcards .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}
/*                          Sidebar Area                             */
aside#sidebar {
    float: right;
    width: 20%;
    margin-top: 10px;
}

/*                          Main Area(About)                             */
article#main-col {
    float: left;
    width: 67%;
}

ul#services li {
    list-style: none;
    border: gray solid 1px;
    padding: 20px;
    margin-bottom: 5px;
    background: lightgray;
}



/*                          Footer Area                             */
footer {
    padding: 20px;
    margin-top: 20px;
    color: white;
    background-color: #747474;
    text-align: center;
}
